<!DOCTYPE html>
<html>
    <head>
        <title>Pin It</title>
        <link rel="stylesheet"    href="./css/style.css">
        
        
    </head>

    <body>
        <h1>{{title}}</h1>
        <form>
            <input>
            <button placeholder="Address">search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
        <script src="/js/app.js"></script>
    </body>

</html>